In [1]:
import pandas as pd
import csv

/opt/rh/anaconda/root/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [3]:
raw = pd.read_csv('jc-city-bike-batch.csv')
raw.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,61,9/21/2015 14:53,9/21/2015 14:54,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,24722,Subscriber,1975.0,1
1,290,9/21/2015 14:55,9/21/2015 15:00,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24388,Customer,NaN,0
2,786,9/21/2015 14:56,9/21/2015 15:09,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24442,Subscriber,1962.0,1
3,477,9/21/2015 14:58,9/21/2015 15:06,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24678,Subscriber,1977.0,2
4,451,9/21/2015 14:59,9/21/2015 15:07,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719279,-74.042451,24574,Subscriber,1977.0,2

In [7]:
print "the total number of trips is", len(raw)

the total number of trips is 161920

In [9]:
raw.describe()

/opt/rh/anaconda/root/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.619200e+05,161920.000000,161920.000000,161920.000000,161920.000000,161920.000000,161920.000000,161920.000000,147344.000000,161920.000000
mean,1.116225e+03,3198.741663,40.723182,-74.045626,3196.179817,40.722578,-74.044997,24546.068979,1979.015664,1.107510
std,5.578586e+04,11.801692,0.143372,0.260500,64.147900,0.143360,0.260499,201.256141,9.558364,0.530451
min,6.100000e+01,3036.000000,0.000000,-74.096937,147.000000,0.000000,-74.096937,14552.000000,1900.000000,0.000000
25%,2.670000e+02,3186.000000,40.717733,-74.051789,3186.000000,40.717733,-74.050656,24460.750000,NaN,1.000000
50%,4.240000e+02,3199.000000,40.721525,-74.044247,3195.000000,40.721124,-74.043845,24552.000000,NaN,1.000000
75%,7.220000e+02,3209.000000,40.727596,-74.036486,3207.000000,40.727596,-74.036486,24639.000000,NaN,1.000000
max,2.026021e+07,3272.000000,40.752559,0.000000,3272.000000,40.787209,0.000000,25832.000000,2000.000000,2.000000

In [10]:
# basic (descriptive) stats

In [22]:
# trip duration

tdmax = raw.tripduration.max()
tdmax1 = tdmax/60

tdmin = raw.tripduration.min()
tdmin1 = tdmin/60

tdmed = raw.tripduration.median()
tdmed1 = tdmed/60

tdavg = raw.tripduration.mean()
tdavg1 =  tdavg/60

# tdmax1, tdmin1, tdmed1, tdavg1

(337670, 1, 7.066666666666666, 18.603755661231887)

In [24]:
# age

raw['age'] = 2016 - raw['birth year']

agemax = raw.age.max()
agemin = raw.age.min()
agemed = raw.age.median()
ageavg = raw.age.mean()

# agemax, agemin, agemed, ageavg

(116.0, 16.0, 35.0, 36.984335975675968)

In [36]:
# most popular stations

popstart = raw['start station id'].value_counts()

popend = raw['end station id'].value_counts()

#popstart 
popend

3186    23989
3183    14657
3195    11487
3203    11429
3202     9797
3214     8740
3199     7210
3209     7032
3211     6462
3213     6348
3187     6224
3184     6003
3185     5520
3192     5083
3205     3946
3194     3790
3193     2984
3210     2756
3225     2493
3207     2119
3212     1850
3201     1704
3215     1530
3220     1525
3206     1234
3198     1203
3196     1184
3197     1083
3190      538
3191      375
        ...
358         3
295         3
329         3
3002        3
457         3
501         2
304         2
3036        2
3169        1
479         1
351         1
252         1
390         1
477         1
2008        1
466         1
247         1
426         1
428         1
3173        1
3178        1
3265        1
448         1
147         1
315         1
309         1
534         1
430         1
284         1
484         1
Name: end station id, dtype: int64

In [ ]:
# gender (value counts)

# usertypes (value counts)